:root {
  --theme-color: #3e79ba;
  --text-color: #333;
}

@page {
  margin: 1in;
}

body {
  color: var(--text-color);
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  width: 6.5in; /* 8.5" - 2x1" margin on each side */
}

a {
  color: var(--theme-color);
  text-decoration: none;
}

article {
  margin-top: 0.2in;
}

article>header {
  margin-bottom: 0.2in;
}

aside {
  color: red;
  margin: 0.2in 0;
}

footer {
  font-size: 1rem;
  margin: 0;
  text-align: center;
}

h1 {
  align-items: center;
  display: inline-flex;
  margin: 0;
}

h3 {
  display: inline-block;
  margin: 0;
  width: 3in;
}

header {
  text-align: center;
}

img {
  height: 0.7in;
}

input[type="text"] {
  border: 1px dotted red;
  color: var(--text-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  padding-left: 0.2in;
  width: 5.5in;
}

label[for="showLineNumbers"] {
  margin-left: 0.3in;
}

main {
  border: 1px dotted red;
  height: 9in; /* 11" - 2x1" margin on each side */
  margin: 0 auto;
  width: 6.5in; /* 8.5" - 2x1" margin on each side */
}

sub {
  display: block;
  font-size: 0.8rem;
}

.eventPrint {
  color: var(--text-color);
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  padding-left: 0.2in;
  white-space: nowrap;
}

.line {
  border-bottom: 1px solid var(--text-color);
  display: inline-block;
  margin: 0 0.1in;
  width: 3in;
}

.line-number {
  margin: 0 0.1in -.1in;
  display: none;
}

body.show-line-numbers .line-number {
  display: block;
}

.row {
  height: 0.35in;
}

@media screen {
  main:nth-child(2) .eventPrint {
    display: none;
  }
}

@media print {
  aside {
    display: none;
  }
  input[type="text"] {
    display: none;
  }
  main {
    border: none;
    break-inside: avoid;
  }
  .eventPrint {
    display: inline;
  }
}
